<!-- component -->
<!-- This is an example component -->
@defer (on viewport) {


<app-nav (addshowSidebarEvent)="getshow($event)" />
<div class="flex overflow-hidden bg-white pt-16">

   <app-aside [showSidebar]="showSidebar" (addFavoriteEvent)="getItem($event)" />

   <div class="bg-gray-900 opacity-50 hidden fixed inset-0 z-10" id="sidebarBackdrop"></div>
   <div id="main-content" class="h-full w-full bg-gray-50 relative overflow-y-auto {{!showSidebar ? '' : 'lg:ml-64' }}">
      <main>
         <div class="pt-6 px-4">
            <!-- ACA EMPIEZO A PONER LO QUE HARE VER EN MIS COMPONENTES -->
            <!-- =================================================================-->
            @if (Itemselector==="Dashboard") {
            <app-homedash />
            }
            @else if (Itemselector==="Perfiles") {
            <app-perfiles />
            }
            @else if (Itemselector==="Users") {
            <app-usuarios />
            }
            @else {
            <app-productos />
            }
            <!-- =================================================================-->
         </div>
      </main>
      <app-footer />
      <p class="text-center text-sm text-gray-500 my-10">
         &copy; 2019-2021 <a href="#" class="hover:underline" target="_blank">Themesberg</a>. All rights reserved.
      </p>
   </div>

   <script async defer src="https://buttons.github.io/buttons.js"></script>
   <script src="https://demo.themesberg.com/windster/app.bundle.js"></script>
</div>
}
@placeholder(minimum 500ms) {<div class="h-screen bg-white">
   <div class="flex justify-center items-center h-full">
      <img class="h-16 w-16" src="https://icons8.com/preloaders/preloaders/1488/Iphone-spinner-2.gif" alt="">
   </div>
</div>}