<div 
    class="overflow-x-hidden overflow-y-auto fixed inset-0 z-50 outline-none focus:outline-none justify-center items-center flex">
    <div class="relative w-auto my-6 mx-auto max-w-xl bg-orange-500">
        <!--content-->

        <div
            class="border-0 rounded-lg shadow-lg relative flex flex-col w-full bg-white outline-none focus:outline-none">
            <!--header-->
            <form [formGroup]="formulario" (ngSubmit)="onSubmitlogin($event)">
                <div class="flex items-start justify-between p-5 border-b border-solid border-blueGray-200 rounded-t">
                    <h3 class="text-3xl font-semibold">
                        Agregar usuario
                    </h3>
                    <button type="button" (click)="showmodalclose(false)"
                        class="p-1 ml-auto bg-transparent border-0 text-black opacity-5 float-right text-3xl leading-none font-semibold outline-none focus:outline-none">
                        <span
                            class="bg-transparent text-black opacity-5 h-6 w-6 text-2xl block outline-none focus:outline-none">
                            ×
                        </span>
                    </button>
                </div>
                <!--body-->
                <div
                    class="grid grid-cols-2 gap-4 relative border-t border-b border-t-blue-gray-100 border-b-blue-gray-100 p-4 font-sans text-base font-light leading-relaxed text-blue-gray-500 antialiased">
                    <div class="relative">
                        <div class="mb-2">
                            <label
                                class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2">Usuario</label>
                            <input type="text" formControlName="usuario" name="usuario"
                                class="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                                placeholder="lucia07" required>
                        </div>
                        <span class="text-red-500 relative">{{ getErrorMessage('usuario') }}</span>
                        <div class="mb-2">
                            <label
                                class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2">Password</label>
                            <div class="relative">
                                <input type="{{ !showPassword ? 'password' : 'text' }}" formControlName="password"
                                    name="password"
                                    class="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                                    placeholder="********" required>
                                <span (click)="verpassword()"
                                    class="toggle-password text-gray-600 absolute top-1/2 -translate-y-1/2 right-3">
                                    @if (!showPassword) {<svg x-show="!show" xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                        class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88" />
                                    </svg>}
                                    @else {<svg x-show="show" xmlns="http://www.w3.org/2000/svg" fill="none"
                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                    </svg>}
                                </span>
                            </div>
                            <span class="text-red-500 relative">{{ getErrorMessage('password') }}</span>
                            <span class="text-red-500 ml-auto">{{errorEnSolicitud3}}</span>
                        </div>
                        <div class="mb-2">
                            <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2">Confirmar
                                Password</label>
                            <div class="relative">
                                <input type="{{ !showPassword ? 'password' : 'text' }}" formControlName="password2"
                                    class="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
                                    placeholder="********" required>
                                <span (click)="verpassword()"
                                    class="toggle-password text-gray-600 absolute top-1/2 -translate-y-1/2 right-3">
                                    @if (!showPassword) {<svg x-show="!show" xmlns="http://www.w3.org/2000/svg"
                                        fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                        class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M3.98 8.223A10.477 10.477 0 001.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.45 10.45 0 0112 4.5c4.756 0 8.773 3.162 10.065 7.498a10.523 10.523 0 01-4.293 5.774M6.228 6.228L3 3m3.228 3.228l3.65 3.65m7.894 7.894L21 21m-3.228-3.228l-3.65-3.65m0 0a3 3 0 10-4.243-4.243m4.242 4.242L9.88 9.88" />
                                    </svg>}
                                    @else {<svg x-show="show" xmlns="http://www.w3.org/2000/svg" fill="none"
                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                    </svg>}
                                </span>
                            </div>
                            <span class="text-red-500 relative">{{ getErrorMessage('password2') }}</span>
                            <span class="text-red-500 ml-auto">{{errorEnSolicitud3}}</span>
                        </div>
                        <div class="mb-2">
                            <label
                                class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2">Perfil</label>
                            <select name="idperfil"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option value="">Selecione un perfil</option>
                                @for (perfil of perfiles; track perfiles.id_perfil) {
                                <option value="{{perfil.id_perfil}}">{{perfil.nombre_perfil}}</option>
                                }
                            </select>
                        </div>
                        <span class="text-red-500 ml-auto">{{errorEnSolicitud2}}</span>
                    </div>
                    <div class="relative">
                        <label class="block text-sm font-medium text-gray-700 dark:text-gray-300 mb-2">Imagen</label>
                        <main
                            class="mx-auto cursor-pointer flex flex-col items-center rounded-xl border-2 border-dashed border-blue-400 bg-white p-6 text-center">
                            <label class="text-center">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-10 w-10 text-blue-500" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
                                </svg>

                                <h2 class="mt-4 text-xl font-medium text-gray-700 tracking-wide">Payment File</h2>

                                <p class="mt-2 text-gray-500 tracking-wide">Upload or drag & drop your file SVG, PNG,
                                    JPG or GIF. </p>

                                <input id="dropzone-file text-center items-center" type="file"
                                    (change)="handleFileInput($event)" name="imagen" class="hidden" />

                                <!-- Mostrar la imagen seleccionada si hay una URL válida -->
                                @if (imageUrl) {
                                <img [src]="imageUrl" alt="Imagen seleccionada" class="mt-4 mx-auto max-w-max h-20" />
                                }
                            </label>
                        </main>
                        <span class="text-red-500 ml-auto">{{errorEnSolicitud}}</span>
                    </div>
                </div>
                <!--footer-->
                <div class="flex items-center justify-end p-6 border-t border-solid border-blueGray-200 rounded-b">
                    <button (click)="showmodalclose(false)"
                        class="text-red-500 background-transparent font-bold uppercase px-6 py-2 text-sm outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150"
                        type="button">
                        Close
                    </button>
                    <button
                        class="{{!formulario.valid ?'bg-emerald-300 text-white active:bg-emerald-400 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150': 'bg-emerald-500 text-white active:bg-emerald-600 font-bold uppercase text-sm px-6 py-3 rounded shadow hover:shadow-lg outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150'}}"
                        [disabled]="!formulario.valid">
                        Registrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="opacity-25 fixed inset-0 z-40 bg-black"></div>