<!-- component -->
<div class="w-screen h-screen relative isolate overflow-hidden bg-gray-900">
  <div class="mx-auto max-w-7xl px-6 pb-24 pt-10 sm:pb-32 lg:flex lg:px-8">
    <div>
      <img class="h-11" src="../../favicon.ico" alt="Your Company">
      <div class="mt-10 sm:mt-32 lg:mt-16">
        <!-- <a href="#" class="inline-flex space-x-6">
          <span class="rounded-full bg-indigo-500/10 px-3 py-1 text-sm font-semibold leading-6 text-cyan-500 ring-1 ring-inset ring-indigo-500/20">What's new</span>
          <span class="inline-flex items-center space-x-2 text-sm font-medium leading-6 text-gray-300">
            <span>About us</span>
            <svg class="h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
            </svg>
          </span>
        </a> -->
      </div>
      <h1 class="mt-10 text-4xl font-bold tracking-tight text-white sm:text-6xl">TU PUERTA AL MUNDO DEL CONOCIMIENTO
      </h1>
      <p class="mt-6 text-lg leading-8 text-gray-300">Este proyecto forma parte de mi autoaprendizaje en el mundo de la
        programación en Angular 17..</p>
      <div class="mt-10 flex items-center gap-x-6">
        <a href="/login"
          class="rounded-md bg-orange-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-400">Comenzar Ahora</a>
        <!--
        <a href="#" class="text-sm font-semibold leading-6 text-white">Learn more <span aria-hidden="true">→</span></a>
        -->
      </div>
    </div>
    <div class="mt-16">
      <div class="max-w-3xl flex-none sm:max-w-5xl lg:max-w-none">
        <img src="../../assets/admin.png" alt="App screenshot"
          class="w-full rounded-md bg-white/5 shadow-2xl ring-1 ring-white/10">
      </div>
    </div>
  </div>
</div>